# Vim stuff
*~
*.un~
.*.swp
.*.swo

# Executables
main
rubiksawesome

# C stuffs
*.o
*.gch

# Doxygen files (just for testing on my side)
doc/view/Doxyfile
doc/view/*.md
doc/view/xml/*
doc/view/html/*

# Mains
fake_main.c
fake_main.h

# Test programs
prog
a.out

# Resources
RESOURCES/*
